**/__pycache__/
exps/*
!exps/.gitkeep
data/datasets/*
!data/datasets/.gitkeep
pro_cifar_100_out.txt
pro_cifar_100.txt
pro_coil.txt
pro_coil_out.txt
results/*
subspace_coil.txt
subspace_coil_out.txt
cifa10_out.txt
cifa10.txt
coil100_pretrain_knn.txt
coil100_pretrain_knn_out.txt
.cifa10.txt.swp
debug
wandb
figs
cifa10_mcr_data_dependent_regularization.txt
cifa10_mcr_data_dependent_regularization_out.txt
l1cifa10_mcr_data_dependent_regularization.txt
l1cifa10_mcr_data_dependent_regularization_out.txt
new_results
default_cifa10_mcr_data_dependent_regularization.txt
default_cifa10_mcr_data_dependent_regularization_out.txt
evaluations
orl_auto.txt
orl_auto_out.txt
gamma_sweep_coil100.txt
gamma_sweep_coil100_out.txt