**/__pycache__/
exps/*
!exps/.gitkeep
data/datasets/*
!data/datasets/.gitkeep
pro_cifar_100_out.txt
pro_cifar_100.txt
pro_coil.txt
pro_coil_out.txt
results/*
subspace_coil.txt
subspace_coil_out.txt
cifa10_out.txt
cifa10.txt
coil100_pretrain_knn.txt
coil100_pretrain_knn_out.txt